table {
    border-spacing: 0px;
    width: 100%;
}

.default-table {
    text-align: left;

    thead tr th {
        font-size: 12px;
        font-weight: 500;
        padding: .5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    tbody tr td {
        font-size: 12px;
        height: 2.5rem;
        padding: 0rem .5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}